#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_deftcoin
#build/deftcoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_deftcoin)

DEB_INSTALL_EXAMPLES_deftcoind += debian/examples/*
DEB_INSTALL_MANPAGES_deftcoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix deftcoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f deftcoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake deftcoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_deftcoin
	src/test_deftcoin

# Ensure wrapper is set executable
binary-post-install/deftcoind:
	chmod +x $(cdbs_curdestdir)usr/bin/deftcoind
binary-post-install/deftcoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/deftcoin-qt
