[Desktop Entry]
Encoding=UTF-8
Name=Deftcoin
Comment=Deftcoin P2P Cryptocurrency
Exec=/usr/bin/deftcoin-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/deftcoin128.png
MimeType=x-scheme-handler/bitcoin;
Categories=Office;
Name[en_US]=deftcoin-qt.desktop
